/* --- Header.css --- */

header {
    background-color: #f8f9fa; /* Padronizado com a cor do rodapé */
    padding: 20px 0; 
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px; 
}

nav {
    display: flex;
}

nav a {
    color: #1D1D1D;
    font-size: 18px; 
    font-weight: 500;
    transition: color 0.3s ease; 
}

nav a:hover {
    color: #0C70F2;
}

header img {
    height: 60px;
    width: 60px; 
    border-radius: 50%; 
    object-fit: cover; 
}

@media (max-width: 768px) {
    nav.open{
    align-items: end;    
    text-decoration: none;
    margin: 0 0 0 50px
    }

    nav{
        background-color: #1D1D1D;
        border-left: 10px solid #333;
        display: none;
        flex-direction: column;
        height: 100%;
        padding: 37px;
        position: fixed;
        right: 0;
        top: 0;
        width: 40vw;
        z-index: 1;
        box-shadow: -50vw 0px 0px 0px rgba(0, 0, 0, 0.75 );
    }
    nav ul{
        flex-direction: column;
        width: 100%;
    }
    nav ul li{
        display: flex;
    }
    nav a{
        border-bottom: 1px solid white;
        color: white;
        font-size: 20px;
        margin: 0 0 10px 0;
        padding: 12px;
        text-decoration: none;
        width: 100%;
    }
}

.mobile-menu {
    display: block;    
}

.close-btn{
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    margin: 0 0 12px ;
    text-decoration: none;
    width: 100%;
}